.fi-sidebar-nav::-webkit-scrollbar {
    width: 7px;
}

.fi-sidebar-nav::-webkit-scrollbar-track {
    background: transparent;
}

.fi-sidebar-nav::-webkit-scrollbar-thumb {
    @apply bg-primary-300 dark:bg-primary-400;
    transition: background-color 0.3s ease;
}

.fi-sidebar-nav:hover::-webkit-scrollbar-thumb {
    @apply bg-primary-400 dark:bg-primary-300;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-primary-300 dark:bg-primary-400;
    transition: background-color 0.3s ease;
}

:hover::-webkit-scrollbar-thumb {
    @apply bg-primary-400 dark:bg-primary-300;
}